* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

a.nav-link {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    
}

a.navbar-brand.logo {
    font-family: 'Megrim', cursive;
    font-size: xx-large;
}

a {
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Megrim', cursive;
    font-weight: lighter;
    margin-top: 100px;

}

.entryForm {
    flex-direction: row;
    margin: 1em;
}

.userForm {
    display: block;
    margin: 1em;
}

.login_Form {
    display: block;
    margin: 1em;
}

.newUserBtn {
    margin: 1em;
}

