* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a.nav-link {
    color: black;
}

a {
    color: black;
}

h1 {
    text-align: center;
}

.entryForm {
   flex-direction: row;
    margin: 1em;
}

.stackCards {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.userContainer {
    position: relative;
    display: flex;
    width: 150px;
    height: 130px;
    margin: 25px;
    background-color: #d3d3d3;
    
}

.mainContainer {
    flex-direction: row;
}

/* .userCard {
    margin: 15px;
    width: 150px;
} */

/* .userForm {
    display: block;
    margin: 1em;
} */

.login_Form {
    display: block;
    margin: 1em;
}

.newUserBtn {
    margin: 1em;
}

