* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a.nav-link {
    color: black;
}

a {
    color: black;
}

h1 {
    text-align: center;
}

.entryForm {
    display: block;
    margin: 1em;
}

/* .userForm {
    display: block;
    margin: 1em;
} */

.login_Form {
    display: block;
    margin: 1em;
}

.newUserBtn {
    margin: 1em;
}